.form {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  margin-right: 20px;
  width: 200px;
}
